<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Pages</title>
</head>
<body>
    <h1 style="color: purple;">Tanawin ISE</h1>
    <p>This is an example paragraph.</p>
    <h2>Hello, {{name}}</h2>
    <h2>I'm {{age}}</h2>
    {% if age >= 35 %}
        <h3>your adoult</h3>
    {% else %}
    <h3>you are young</h3>
    {% endif %}
    <hr>
    <a href="/">First pages</a>
    <a href="/about">about</a>
    <a href="form">form</a>
</body>
</html>