{% extends "base.html" %}

{% block title%}
    <title>First Pages</title>
{% endblock %}

{% block content %}
    <!-- <h1 style="color: purple;">Tanawin ISE</h1>
    <p>This is an example paragraph.</p>
    <h2>Hello, {{name}}</h2>
    <h2>I'm {{age}}</h2>
    {% if age >= 35 %}
        <h3>your adoult</h3>
    {% else %}
    <h3>you are young</h3>
    {% endif %} -->

    <!-- {{allPerson}} -->
    <h2 class="text-center">Person Data</h2>
    {% if messages %}
        {% for message in messages %}
            <!-- <strong>{{message}}</strong> -->
            <div class="alert alert-success" role="alert">
                <strong>{{message}}</strong>
              </div>
        {% endfor %}
    {% endif %}
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <!-- <th scope="col">Handle</th> -->
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for person in allPerson %}
            <tr>
                <th scope="row">{{person.id}}</th>
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <!-- <td>@mdo</td> -->
                <td>{{person.date}}</td>
                <td><a href="edit/{{person.id}}" class="btn btn-warning">Edit</a></td>
                <td>
                    <a href="delete/{{person.id}}" 
                    class="btn btn-danger"
                    onclick="return confirm('Do you need to delete {{person.name}} ?')"
                    >Delete</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}